/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* CSS variables */
:root{
    --navbar-height:59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position:sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    opacity: 0.5;
    left: 0px;
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; /*content background ke uper aa jayega */
}
/* Navigation bar:logo and image */
#logo{
    margin: 4px 15px;

}
#logo img{
    height: 85px;
    /* width: 30px; */
    margin: 7px 10px;
}
/* Navigation bar:list styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo 2', cursive; 
}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
     display: block; 
    padding: 3px 22px;
    border-radius: 10px;
    text-decoration: none;
    /* font-weight: bold; */
    color: white;
     /* font-family: 'Baloo 2', cursive;  */
}  
#navbar ul li a:hover{
    background-color: white;
   color: black;
 }   
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
   /* font-weight: bold; */
    height: 400px; 
    justify-content: center;
    align-items: center;
    /* justify-content se poora center hoga or align-items se udke andar bala center hoga */
}
#home::before{
    content: "";
    position: absolute;
    background: url('food2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 560px;
    z-index: -1;
    opacity:0.8;
    left: 0px;
    top: 0px;
    
}
#home h1{
    color: white;
    text-align: center;
     font-family: 'Baloo 2', cursive; 
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    /* rem : relative to root element/html element */
    font-family: 'Baloo 2', cursive; 
}
/* services section */
#services{
    margin: 25px;
    display: flex;
}
#services .box{
    border: 2px solid black;
    padding: 34px;
    margin: 3px 30px;
    margin-bottom: 20px;
    border-radius: 23px;
    
    background-color: rgb(226, 217, 217);
}
#services .box img{
    height: 156px;
    margin: auto;
    display: block;
}
#services .box p{
     font-family: 'Baloo 2', cursive;
}


/* clients section */
#client-section{
    
    position: relative;
    
}
#client-section::before{
    content: "";
    position: absolute;
   background: url(/background.jpg) no-repeat center center/cover;
   width: 100%;
   height: 400px;
   z-index: -1;
   opacity: 0.8;
    
}
#client-section img{
    height: 124px;
    
    
}
#clients{
        display: flex;
       
       justify-content: center;
       align-items: center;
}
.client-item{
    padding: 45px;
}

/* contact section */
#contact{
     position: relative; 
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.4;
    background: url(/contact1.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.5rem;
    font-family: 'Baloo 2', cursive;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
    
}

/* utility classes */
.h-primary{
        font-size: 3.8rem;
        padding: 35px;
        font-family: 'Baloo 2', cursive; 

.h-secondary{
    padding: 35px;
    font-size:2.3px;
    font-family: 'Baloo 2', cursive;
}
.btn{
    padding: 6px 20px;
    border: 2px solod white;
    background-color: blue;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
} 
.center{
    text-align: center;
}

